<!DOCTYPE html>
<html>
<head>
    <title>Just - Esports</title>
</head>
<body>
    <h1>Welcome to Just - ESports</h1>
    <p>Our site is currently in development.</p>

    <h1>Create a new user</h1>
    <form action="/usersubmit" method="post">
        FullName: <input name="fullname" type="test" /><br />
        Username: <input name="username" type="text" /><br />
        Password: <input name="password" type="password" /><br />
        <input value="Register" type="submit" />
    </form>



</body>
</html>